<form name = 'form1' action='/controllerUpdate' method='post'>
	<input type='text' name='id' id='id' placeholder='Id:' value='{{id}}'><br>
	<input type='text' name='name' id='name' placeholder='Name:' value='{{name}}'><br>
	<input type='text' name='age' id='age' placeholder='Age:' value='{{age}}'><br>
	<input type='submit' name='btnsubmit' id='btnsubmit' value='UPDATE'><br>
	



</form>
